.MainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Video__button {
  height: 100%;
  width: 60%;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  font-size: 30px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
